<!DOCTYPE html>
<html>
    <head>
    <title>Create User</title>
    </head>
 
    <body>
        <br/><br/><br/>
        <div align = "center">
                <img width="220" height="60" src="https://www.jorudan.co.jp/company/english/img/jorudan_logo_e.png" alt="logo">
        </div>
        <h1 align = "center">Create New User</h1>
        <form method="post" action="/new/user" align = "center">
        <label>FIll up the form please </label>
        <br/><br/>
        <input type="text" name="name" placeholder="Enter full name..." required>
        <br/><br/>
        <input type="text" name="email" placeholder="Enter email address..." required>
        <br/><br/>
        <input type="text" name="uid" placeholder="Enter User ID..." required>
        <br/><br/>
        <input type="text" name="pass" placeholder="Enter Password..." required>
        <br/><br/>
        <input type="submit" value="Create Account">
        </form>
    </body>
</html>